@import "reset";
$mainBlue : #4ed0e1;
$mainFont: 'Roboto', sans-serif;
$mainBackground : #fafafa;

$intoScreenAnimation: cubic-bezier(0.0, 0.0, 0.2, 1);;

body{
    background : $mainBackground;
}


nav {
    background : $mainBlue;
    font-family: $mainFont;
    position: relative;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

a:link, a:visited, a:hover, a:active, a:-webkit-any-link{
    text-decoration: none;
    color: white;
}

.nav-option{
    color: white;
    display: inline-block;
    padding: 16px;
}

.nav-load-appear {
    transform : translateY(-100%);
    -webkit-transform: translateY(-100%); /* Safari */
}

.nav-load-appear.nav-load-appear-active {
    -webkit-transform: translateY(0%); /* Safari */
    transform:  translateY(0%);
    -webkit-transition:  -webkit-transform $intoScreenAnimation 225ms; /* Safari */
    transition:  transform $intoScreenAnimation 225ms;
}

.current-view{
    margin-top: 54px;
    padding: 32px;
}
